button {
  all: unset;
  cursor: pointer;
}

td,
th {
  padding: 1.5rem;
}

.app-table {
  display: block;
  overflow-x: auto;
  max-width: 50rem;
  max-height: 37rem;
  resize: both;
}

table {
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #d1d1d1;
}

.disable-element {
  pointer-events: none;
  opacity: 0.5 !important;
}
